// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree Source for the Condor board
 *
 * Copyright (C) 2018-2020 Renesas Electronics Corp.
 * Copyright (C) 2018-2020 Cogent Embedded, Inc.
 */

/dts-v1/;
#include "r8a77980.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include "camera.dtsi"

#define CAMERA_OV10635 	0
#define CAMERA_AR0233		1
#define CAMERA_OX03F10		2

#define CAMERA_2A CAMERA_OX03F10		//video0 ~ video3
#define CAMERA_6B CAMERA_AR0233			//video4 ~ video7



/ {
	model = "Renesas Condor board based on r8a77980";
	compatible = "renesas,condor", "renesas,r8a77980";

	aliases {
		serial0 = &scif0;
		ethernet0 = &gether;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	d1_8v: regulator-2 {
		compatible = "regulator-fixed";
		regulator-name = "D1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	d3_3v: regulator-0 {
		compatible = "regulator-fixed";
		regulator-name = "D3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	hdmi-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&it6263_out>;
			};
		};
	};

	memory@48000000 {
		device_type = "memory";
		/* first 128MB is reserved for secure area. */
		reg = <0 0x48000000 0 0x78000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* device specific region for contiguous allocations */
		mmp_reserved: linux,multimedia@7f000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x7f000000 0x0 0x01000000>;
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma@58000000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x00000000 0x58000000 0x0 0x18000000>;
			linux,cma-default;
		};
	};

	mmngr {
		compatible = "renesas,mmngr";
		memory-region = <&mmp_reserved>;
	};

	mmngrbuf {
		compatible = "renesas,mmngrbuf";
	};

	vddq_vin01: regulator-1 {
		compatible = "regulator-fixed";
		regulator-name = "VDDQ_VIN01";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	x1_clk: x1-clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <148500000>;
	};
	

};

&canfd {
	pinctrl-0 = <&canfd0_pins &canfd1_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};

&csi40 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi40_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&deser_out0>;
			};
		};
	};
};

&csi41 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			csi41_in: endpoint {
				clock-lanes = <0>;
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&deser_out1>;
			};
		};
	};
};

&du {
	clocks = <&cpg CPG_MOD 724>,
		 <&x1_clk>;
	clock-names = "du.0", "dclkin.0";
	status = "okay";
};

&extal_clk {
	clock-frequency = <16666666>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";

	phy-mode = "rgmii";
	phy-handle = <&phy0>;
	renesas,no-ether-link;
	status = "okay";

	phy0: eavb-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <3>;
		interrupt-parent = <&gpio1>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
	};
};

&gether {
	pinctrl-0 = <&gether_pins>;
	pinctrl-names = "default";

	phy-mode = "rgmii";
	phy-handle = <&phy1>;
	renesas,no-ether-link;
	status = "okay";

	phy1: ethernet-phy@3 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <3>;
		interrupt-parent = <&gpio4>;
		interrupts = <23 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	hdmi@4c {
		compatible = "ite,it6263";
		reg = <0x4c>;
		interrupt-parent = <&gpio1>;
		interrupts = <20 IRQ_TYPE_EDGE_BOTH>;
		reset-gpio = <&gpio1 0 GPIO_ACTIVE_LOW>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				it6263_in: endpoint {
					remote-endpoint = <&lvds0_out>;
				};
			};

			port@1 {
				reg = <1>;
				it6263_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	clock-frequency = <400000>;

	max2008x@28 {
		compatible = "maxim,max2008x";
		reg = <0x28>;
		#io-channel-cells = <1>;

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;

			vdd_cam0: SW0 {
				reg = <0>;
				regulator-name = "Camera-0";
			};
			vdd_cam1: SW1 {
				reg = <1>;
				regulator-name = "Camera-1";
			};
			vdd_cam2: SW2 {
				reg = <2>;
				regulator-name = "Camera-2";
			};
			vdd_cam3: SW3 {
				reg = <3>;
				regulator-name = "Camera-3";
			};
		};
	};

	max2008x_2@29 {
		compatible = "maxim,max2008x";
		reg = <0x29>;
		#io-channel-cells = <1>;

		regulators {
			#address-cells = <1>;
			#size-cells = <0>;

			vdd_cam4: SW0 {
				reg = <0>;
				regulator-name = "Camera-4";
			};
			vdd_cam5: SW1 {
				reg = <1>;
				regulator-name = "Camera-5";
			};
			vdd_cam6: SW2 {
				reg = <2>;
				regulator-name = "Camera-6";
			};
			vdd_cam7: SW3 {
				reg = <3>;
				regulator-name = "Camera-7";
			};
		};
	};

	deser@2a {
		compatible = "maxim,max96712";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x2a>;
		regs = <0x0c 0x0d 0x0e 0x0f>;
		shutdown-gpios = <&gpio3 2 GPIO_ACTIVE_HIGH>;
		maxim,links-mipi-map = <1 1 1 1>;
		
#if (CAMERA_2A == CAMERA_OV10635)
		maxim,dt = <0x1e>;
		maxim,gmsl = <1>;
		maxim,hsync = <0>;
		maxim,vsync = <0>;
		maxim,de = <1>;
#elif (CAMERA_2A == CAMERA_OX03F10)
		maxim,dt = <0x2b>;
		maxim,gmsl = <2>;
		maxim,hsync = <1>;
		maxim,vsync = <1>;
		maxim,de = <1>;
		maxim,gmsl-rate = <1>;//1 for 3Gbps, 2 for 6Gbps
#elif (CAMERA_2A == CAMERA_AR0233)
		maxim,dt = <0x2c>;
		maxim,gmsl = <2>;
		maxim,hsync = <1>;
		maxim,vsync = <1>;
		maxim,de = <1>;
		maxim,gmsl-rate = <2>;//1 for 3Gbps, 2 for 6Gbps
#endif

		poc0-supply = <&vdd_cam0>;
		poc1-supply = <&vdd_cam1>;
		poc2-supply = <&vdd_cam2>;
		poc3-supply = <&vdd_cam3>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				deser_in0: endpoint {
					remote-endpoint = <&camera_out0>;
				};
			};

			port@1 {
				reg = <1>;
				deser_in1: endpoint {
					remote-endpoint = <&camera_out1>;
				};
			};

			port@2 {
				reg = <2>;
				deser_in2: endpoint {
					remote-endpoint = <&camera_out2>;
				};
			};

			port@3 {
				reg = <3>;
				deser_in3: endpoint {
					remote-endpoint = <&camera_out3>;
				};
			};

			port@4 {
				reg = <4>;
				deser_out0: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi40_in>;
				};
			};
		};

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			camera@60 {
				compatible = LVDS_CAMERA;
				reg = <0x60 0x0c>;

				port {
					camera_out0: endpoint {
						remote-endpoint = <&deser_in0>;
					};
				};
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			camera@61 {
				compatible = LVDS_CAMERA;
				reg = <0x61 0x0d>;

				port {
					camera_out1: endpoint {
						remote-endpoint = <&deser_in1>;
					};
				};
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			camera@62 {
				compatible = LVDS_CAMERA;
				reg = <0x62 0x0e>;

				port {
					camera_out2: endpoint {
						remote-endpoint = <&deser_in2>;
					};
				};
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			camera@63 {
				compatible = LVDS_CAMERA;
				reg = <0x63 0x0f>;

				port {
					camera_out3: endpoint {
						remote-endpoint = <&deser_in3>;
					};
				};
			};
		};
	};
	
	deser@6b {
		compatible = "maxim,max96712";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x6b>;
		regs = <0x1c 0x1d 0x1e 0x1f>;
		shutdown-gpios = <&gpio3 3 GPIO_ACTIVE_HIGH>;
		maxim,links-mipi-map = <1 1 1 1>;

#if (CAMERA_6B == CAMERA_OV10635)
		maxim,dt = <0x1e>;
		maxim,gmsl = <1>;
		maxim,hsync = <0>;
		maxim,vsync = <0>;
		maxim,de = <1>;
#elif (CAMERA_6B == CAMERA_OX03F10)
		maxim,dt = <0x2b>;
		maxim,gmsl = <2>;
		maxim,hsync = <1>;
		maxim,vsync = <1>;
		maxim,de = <1>;
		maxim,gmsl-rate = <1>;//1 for 3Gbps, 2 for 6Gbps
#elif (CAMERA_6B == CAMERA_AR0233)
		maxim,dt = <0x2c>;
		maxim,gmsl = <2>;
		maxim,hsync = <1>;
		maxim,vsync = <1>;
		maxim,de = <1>;
		maxim,gmsl-rate = <2>;//1 for 3Gbps, 2 for 6Gbps
#endif

		poc0-supply = <&vdd_cam4>;
		poc1-supply = <&vdd_cam5>;
		poc2-supply = <&vdd_cam6>;
		poc3-supply = <&vdd_cam7>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				deser_in4: endpoint {
					remote-endpoint = <&camera_out4>;
				};
			};

			port@1 {
				reg = <1>;
				deser_in5: endpoint {
					remote-endpoint = <&camera_out5>;
				};
			};

			port@2 {
				reg = <2>;
				deser_in6: endpoint {
					remote-endpoint = <&camera_out6>;
				};
			};

			port@3 {
				reg = <3>;
				deser_in7: endpoint {
					remote-endpoint = <&camera_out7>;
				};
			};

			port@4 {
				reg = <4>;
				deser_out1: endpoint {
					clock-lanes = <0>;
					data-lanes = <1 2 3 4>;
					remote-endpoint = <&csi41_in>;
				};
			};
		};

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			camera@64 {
				compatible = LVDS_CAMERA;
				reg = <0x64 0x1c>;

				port {
					camera_out4: endpoint {
						remote-endpoint = <&deser_in4>;
					};
				};
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			camera@65 {
				compatible = LVDS_CAMERA;
				reg = <0x65 0x1d>;

				port {
					camera_out5: endpoint {
						remote-endpoint = <&deser_in5>;
					};
				};
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			camera@66 {
				compatible = LVDS_CAMERA;
				reg = <0x66 0x1e>;

				port {
					camera_out6: endpoint {
						remote-endpoint = <&deser_in6>;
					};
				};
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			camera@67 {
				compatible = LVDS_CAMERA;
				reg = <0x67 0x1f>;

				port {
					camera_out7: endpoint {
						remote-endpoint = <&deser_in7>;
					};
				};
			};
		};
	};
};

&lvds0 {
	status = "okay";

	ports {
		port@1 {
			lvds0_out: endpoint {
				remote-endpoint = <&it6263_in>;
			};
		};
	};
};

&mmc0 {
	pinctrl-0 = <&mmc_pins>;
	pinctrl-1 = <&mmc_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&d3_3v>;
	vqmmc-supply = <&vddq_vin01>;
	mmc-hs200-1_8v;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&pciec {
	status = "okay";
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
};

&pcie_phy {
	status = "okay";
};

&pfc {
	canfd0_pins: canfd0 {
		groups = "canfd0_data_a";
		function = "canfd0";
	};

	canfd1_pins: canfd1 {
		groups = "canfd1_data";
		function = "canfd1";
	};

	avb_pins: avb {
		groups = "avb_link", "avb_mdio", "avb_rgmii", "avb_txcrefclk";
		function = "avb";
	};

	gether_pins: gether {
		groups = "gether_mdio_a", "gether_rgmii",
			 "gether_txcrefclk", "gether_txcrefclk_mega";
		function = "gether";
	};

	i2c0_pins: i2c0 {
		groups = "i2c0";
		function = "i2c0";
	};

	i2c1_pins: i2c1 {
		groups = "i2c1";
		function = "i2c1";
	};

	mmc_pins: mmc {
		groups = "mmc_data8", "mmc_ctrl", "mmc_ds";
		function = "mmc";
		power-source = <1800>;
	};

	qspi0_pins: qspi0 {
		groups = "qspi0_ctrl", "qspi0_data4";
		function = "qspi0";
	};

	qspi1_pins: qspi1 {
		groups = "qspi1_ctrl", "qspi1_data4";
		function = "qspi1";
	};

	scif0_pins: scif0 {
		groups = "scif0_data";
		function = "scif0";
	};

	scif_clk_pins: scif_clk {
		groups = "scif_clk_b";
		function = "scif_clk";
	};
};

&rpc0 {
	pinctrl-0 = <&qspi0_pins &qspi1_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash@0 {
		compatible = "spansion,s25fs512s", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			bootparam@0 {
				reg = <0x00000000 0x040000>;
				read-only;
			};
			cr7@00040000 {
				reg = <0x00040000 0x080000>;
				read-only;
			};
			cert_header_sa3@000C0000 {
				reg = <0x000C0000 0x080000>;
				read-only;
			};
			bl2@00140000 {
				reg = <0x00140000 0x040000>;
				read-only;
			};
			cert_header_sa6@00180000 {
				reg = <0x00180000 0x040000>;
				read-only;
			};
			bl31@001C0000 {
				reg = <0x001C0000 0x480000>;
				read-only;
			};
			uboot@00640000 {
				reg = <0x00640000 0x0C0000>;
				read-only;
			};
			uboot-env@00700000 {
				reg = <0x00700000 0x040000>;
				read-only;
			};
			dtb@00740000 {
				reg = <0x00740000 0x080000>;
			};
			kernel@007C0000 {
				reg = <0x007C0000 0x1400000>;
			};
			user@01BC0000 {
				reg = <0x01BC0000 0x2440000>;
			};
		};
	};
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>, <&scif_clk_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&scif_clk {
	clock-frequency = <14745600>;
};

&vin0 {
	status = "okay";
};

&vin1 {
	status = "okay";
};

&vin2 {
	status = "okay";
};

&vin3 {
	status = "okay";
};

&vin4 {
	status = "okay";
};

&vin5 {
	status = "okay";
};

&vin6 {
	status = "okay";
};

&vin7 {
	status = "okay";
};

&tmu0 {
	status = "okay";
};

&tmu1 {
	status = "okay";
};

&tmu2 {
	status = "okay";
};

&tmu3 {
	status = "okay";
};

&tmu4 {
	status = "okay";
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&cmt2 {
	status = "okay";
};

&cmt3 {
	status = "okay";
};
